<div class="header">
    <div class="profil">
        <img src="images/profile_picture.jpg"/>
        <label>Patron</label>
    </div>
    <div class="streak">
        <label>2</label>
        <i class="fa-solid fa-fire"></i>
    </div>
</div>