<div class="nav-menu">
    <ul>
        <li>
            <i class="fa-solid fa-camera"></i>
        </li>
        <li>
            <i class="fa-solid fa-calendar"></i>
        </li>
        <li>
            <i class="fa-solid fa-house"></i>
        </li>
        <li>
            <i class="fa-solid fa-chart-line"></i>
        </li>
        <li>
            <i class="fa-solid fa-user"></i>
        </li>
    </ul>
</div>
